!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Deck.js Codewalk
    %link{:href => "deck.core.css", :rel => "stylesheet"}
    %link{:href => "../deck.codewalk.css", :rel => "stylesheet"}
    %link{:href => "swiss.css", :rel => "stylesheet"}
    %link{:href => "demo.css", :rel => "stylesheet"}
  %body.deck-container
    %section.slide
      %pre
        %code
          %span.codewalk.domready
            $(function() {
            %span.codewalk.onclick
              $('button').on('click', function() {
              %span.codewalk.logevent
                console.log('A button was clicked!');
              });
            });

      %ul
        %li.slide{ "data-codewalk" => ".domready" } Wait for the DOM to be loaded
        %li.slide{ "data-codewalk" => ".onclick" } Create an event listener on click for each button
        %li.slide{ "data-codewalk" => ".logevent" } Log an event that the button was clicked

    %section.slide
      %h1 Content
    %section.slide
      %h1 Here

    %script{:src => "jquery.js"}
    %script{:src => "modernizr.custom.js"}
    %script{:src => "deck.core.js"}
    %script{:src => "../deck.codewalk.js"}
    :javascript
      $(function() {
        $.deck('.slide');
      });